spring:
  main:
    web-application-type: none

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: ${SCHEMA_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        temp:
          use_jdbc_metadata_defaults: false

logging:
  level:
    org.hibernate.SQL: OFF
    org.springframework: WARN
